/*Barra de navegacion*/
.navbar-default {
    background-color: #26A65B;
    border-color: transparent;
}

footer {
  float: left;
  width: 100%;
  margin-top: 5%;
}

footer .footer-above {
  padding-top: 0px;
}

footer .footer-col {
  padding-bottom: 0px;
}

#prueba {
width: auto;
height: 60px;
margin: -10px;
}

#divProductos {
  float: left;
}
.products {
  width: 30%;
  float: left;
}

.products > h3 {
  font-size: 15px;
}

.imgProducto {
  width: 80%;
}
